.thirdMenucontainer{
    border-radius: 40px;
    border: 1px #f0f0f2 solid;
    background-color: #F8F8F8;
}
.secondMenuname{
    text-align: center;
    background-color: #f0f0f2;
    padding: 20px 15px;
    writing-mode: vertical-lr;
    border-radius: 40px 0 0 40px;
    display: inline-block;
    vertical-align: top;
}
.thirdMenucontent{
    display: inline-flex;
    list-style:none;
    white-space:nowrap;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 10px;
    width: 94%;
    li{
        padding: 5px 10px;
        // flex:auto;
    }
}
.row{
    margin-left: -15px;
    margin-right: -15px;
    word-break: break-word;
}
.col-sm-3{
    width: 20%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}
.websiteItem{
    padding: 15px;
    height: 86px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #e4ecf3;
    margin-top: 20px;
    background-color: #fff;
    .websiteInfo{
        height: 40px;
    }
    .el-divider{
        margin: 2px 0;
    }
}
.xe-user-img{
    float: left;
    display: block;
    margin-right: 10px;
    img{
        border-radius: 50%;
        vertical-align: middle;
    }
    
}

.websiteName{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    width: auto;
}
