.thirdMenucontainer{
    border-radius: 4rem;
    border: 0.185vh #f0f0f2 solid;
    background-color: #F8F8F8;
    font-size: 1.6rem;
    // margin-top: 2vh;
}
.secondMenuname{
    text-align: center;
    background-color: #f0f0f2;
    padding: 1.9vh 0.78125vw;
    writing-mode: vertical-lr;
    border-radius: 4rem 0 0 4rem;
    display: inline-block;
    vertical-align: top;
    img{
        width: 0.73vw;
    }
}
.thirdMenucontent{
    display: inline-flex;
    list-style:none;
    white-space:nowrap;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 0.521vw;
    width: 64vw;
    li{
        padding: 0 1vh;
        cursor: pointer;
        margin: 1vh 0;
        // flex:auto;
    }
}
.row{
    margin-left: -15px;
    margin-right: -15px;
    word-break: break-word;
}
.website{
    width: 14vw;
    float: left;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.4rem;
}
.websiteItem{
    padding: 1vw;
    height: 10vh;
    cursor: pointer;
    border-radius: 2rem;
    border: 0.0521vw solid #e4ecf3;
    margin-top: 2vh;
    background-color: #fff;
    .websiteInfo{
        height: 4vh;
    }
    .el-divider{
        margin: 0.19vh 0;
        height: 0.0521vw;
    }
}
.xe-user-img{
    float: left;
    display: block;
    margin-right: 10px;
    img{
        width: 2vw;
        // height: 2vw;
        // border-radius: 50%;
        vertical-align: middle;
    }
    
}

.websiteName{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 2.1vh;
    width: auto;
}
