// sidebar
$menuText:#000000;
$menuActiveText:#0F70E0;
$subMenuActiveText:#0F70E0; //https://github.com/ElemeFE/element/issues/12951

$menuBg:rgba(254,254,254,0.8);
$menuHover:#F5F6FA;

$subMenuBg:#FEFEFE;
$subMenuHover:#F5F6FA;

$sideBarWidth: 210px;
$sideBarMenuWidth: 60px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
