// sidebar
$menuText:#0F70E0;
$menuActiveText:#282828;
$subMenuActiveText:#282828; //https://github.com/ElemeFE/element/issues/12951

$menuBg:rgba(254,254,254,0.8);
$menuHover:#F5F6FA;

$subMenuBg:rgba(254,254,254,0.8);
$subMenuHover:rgba(254,254,254,0.8);

// $sideBarWidth: 345px;
$sideBarWidth: 17vw;
// $sideBarMenuWidth: 110px;
$sideBarMenuWidth: 5.7vw;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
